html,body{
font-family: 'Lora', serif;
font-style: italic;
font-weight: bold;
}
h1{
text-align: center;
  display:block;
  margin-top: 3.7%;
color:#DFA7A7;

}
.cards{

  text-align: center;
}
img {
      display:block;
        text-align: center;
        margin: auto;
  }
label{
  display:block;
}
#text{
    margin-right: 4%;
    margin-left: 4%;
  font-size: 156%;
    height: 80%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  color:#DFA7A7;
}

@media only screen and (min-width: 1000px) {
  img{
margin: 2.8%;
  display: inline-block;
  text-align: center;
}
  
}
