html,body{
  height:96%;
  width:99%;
font-family: 'Lora', serif;
font-style: italic;
font-weight: bold;
color: #dfa7a7a;
}
p{
  margin-left: 29%;
      margin-top: -4.5%;
text-align: center;
position: absolute;
z-index: 1;
color: #dfa7a7a;
font-size: 120%;
font-weight:800;
}
#text{
  font-size: 145%;
    height: 80%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

}
.stay{
color: #dfa7a7a;
}
.surprise{
    margin-left:45.9%;
  color: #dfa7a7a;
}
.out{
    margin-left: 65%;
  color: #dfa7a7a;
}
h1{
text-align: center;
  display:block;
  margin-top: 3.7%
}

#stayin{
outline: 4px solid #c7d0d8;
z-index: -1;
margin-left:24.5%;
  margin-top: 6.7%;
  margin-right: 3%;
  display:inline-block;
background-color: white;
width: 15%;

height: 53%;
}


#surprise{
  outline: 4px solid #c7d0d8;
z-index: -1;
    margin-right: 3%;
margin-right: 3%;
  margin-top: 6.7%;
    display:inline-block;
  background-color:white;
  width: 15%;
  height: 53%;

}


#goout{
  outline: 4px solid #c7d0d8;
z-index: -1;
  margin-top: 6.7%;
    display:inline-block;
  background-color:white;
  width: 15%;
  height: 53%;

}
