
html,body{
  height:96%;
  width:99%;
font-family: 'Lora', serif;
font-style: italic;
font-weight: bold;
}
h1{
text-align: center;
  display:block;
  margin-top: 3.7%
  color:#DFA7A7;
  font-style: italic;
}
p{
  font-style: italic;
  position: absolute;
  margin-left: 29%;
      margin-top: -4.5%;
  z-index: 1;
color: #DFA7A7;
font-size: 120%;
font-weight:800;
}
#text{
  font-size: 145%;
    height: 80%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

}
.stay{
color: #dfa7a7a;
}
.surprise{
    margin-left:45.9%;
  color: #dfa7a7a;
}
.out{
    margin-left: 65%;
  color: #dfa7a7a;
}


#stayin{
  text-align: center;
outline: 4px solid #c7d0d8;
z-index: -1;
margin-left:24.5%;
  margin-top: 6.7%;
  margin-right: 3%;
  display:inline-block;
background-color: white;
width: 15%;
height: 53%;
}

.heart{
  font-size: 300px;
  position: absolute;
  left: 2.5%;
  top: 50%;
  transform: translate(-50%, -40%);
display: inline-block;
color: #BE1931;
font-weight:800;
}

.qm{
  font-size: 290px;
  position: absolute;
  left: 21%;
  top: 52%;
  transform: translate(-50%, -40%);
  display: inline-block;
color: #BE1931;
  font-style: normal;
  font-weight: 800;
}
.ot{
  font-size: 285px;
  position: absolute;
  left: 39%;
  top: 52%;
  transform: translate(-50%, -40%);
  display: inline-block;
color: #BE1931;
  font-style: normal;
  font-weight: 100;
}
#surprise{
  outline: 4px solid #c7d0d8;
z-index: -1;
    margin-right: 3%;
margin-right: 3%;
  margin-top: 6.7%;
    display:inline-block;
  background-color:white;
  width: 15%;
  height: 53%;

}


#goout{
  outline: 4px solid #c7d0d8;
z-index: -1;
  margin-top: 6.7%;
    display:inline-block;
  background-color:white;
  width: 15%;
  height: 53%;

}

@media only screen and (max-width: 900px) {

  .heart{
    font-size: 200px;

  }

  .qm{
    font-size: 190px;

  }
  .ot{
    font-size: 190px;

  }

  #stayin{
margin-left:19.5%;
  width: 20%;

  }
  #surprise{

    width: 20%;


  }
  #goout{

    width: 20%;

  }
}

@media only screen and (max-width: 800px) {
  html,body{
    height:100%;
    width:100%;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: bold;
  }
  #text{
    display: none;
  }
  p{
       display: none;
     }

  #stayin{
    display: block;
  margin: 0 auto;
  margin-top: 6%;
  width: 80%;
height:100px;
  }
  #surprise{

    display: block;
  margin: 0 auto;
    margin-top: 6%;
    width: 80%;
  height:100px;

  }
  #goout{

    display: block;
  margin: 0 auto;
    margin-top: 6%;
    width: 80%;
  height:100px;
  }
  .heart{
       display: none;
  }

  .qm{
   display: none;

  }
  .ot{
       display: none;

  }
  .stay{
         display: none;

  }
  .surprise{
         display: none;

  }
  .out{
         display: none;

  }
}
